<div class="header bg-dark">
    <div class="row">
        <div class="brand my-1">
            <h1>estore</h1>
        </div>
        <div class="p-0 my-4 w-50 h-25 bg-white">

            <select class="dropdown p-0 m-0">
                <option>Men</option>
                <option>Women</option>
                <option>Kids</option>
            </select>

            <input class="form-control search-box" placeholder="Search...">
            <button class="search-button"><span class="pi pi-search"></span></button>
        </div>

        <div class="login-container p-0">
            <span class="pi pi-user"></span>
            <h5><a href="">Sign-in</a></h5> / <h5><a href="">Register</a></h5>
        </div>

        <div class="cart-wishlist">
            <ul class="p-0">
                <li class="list-item">
                    <span class="pi pi-heart"></span>
                </li>

                <li class="list-item">
                    <span class="pi pi-shopping-cart"></span>
                </li>
            </ul>
        </div>

    </div>
</div>